.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    width: 100%;
}

main, .content {
    flex: 1 0 auto;
}

.footer {
    padding: 20px 0;
    margin-top: auto;
    width: 100%;
    flex-shrink: 0;
}

.slider {
    position: relative;
    padding: 30px 0;
    width: 100%;
    overflow: hidden;
}

.advantages {
    background-color: #e9e9e9;
    padding: 30px 0;
    width: 100%;
}

.categories {
    position: relative;
    padding: 30px 0;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}

.services {
    padding: 30px 0;
}

.hits {
    padding: 30px 0;
    background-color: #fff;
}

.reviews {
    padding: 30px 0;
    background-color: #fff;
    width: 100%;
}

.partners {
    padding: 30px 0;
    background-color: #fff;
    width: 100%;
}

.about {
    padding: 30px 0;
    background-color: #fff;
    width: 100%;
}

.cart {
    padding: 40px 0;
    flex: 1;
}

.slider__container,
.advantages__container,
.categories__container,
.services__container,
.hits__container,
.reviews__container,
.about__container,
.partners__container,
.footer__container {
    position: relative;
}